@tailwind base;
@tailwind components;
@tailwind utilities;
.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #c544fc 0%,
    #5d56d8 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.gradient-bg {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #c544fc 0%,
    #5d56d8 100%
  );
}

/* Hamburger Menu */
.hamburger {
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: gray;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
.mobile-list {
  @apply absolute top-[70px] transition-all duration-300 overflow-hidden   left-0 right-0 bg-[rgba(255,255,255,.9)] backdrop-blur-md flex flex-col lg:hidden gap-3 rounded-md;
}
.mobile-list-item {
  @apply before:w-0 hover:before:w-[80%] before:transition-all before:duration-300 before:h-[4px] before:bg-gradient-to-tr before:from-[#5d56d8] before:to-[#c544fc] before:absolute before:left-[10%]  before:bottom-0  relative px-6 py-4 block;
}
.chart-button {
  @apply border border-blue-500 p-1 px-2 rounded-lg min-w-[40px]  text-sm font-bold hover:bg-blue-500 hover:text-white transition-all duration-200;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: radial-gradient(
    64.18% 64.18% at 41.16% 25.69%,
    #c544fc 0%,
    #5d56d8 100%
  );
}
.stock-info p {
  padding: 5px 0;
  color: black;
}
.stock-info span {
  font-weight: 600;
}

@media (max-width: 780px) {
  * {
    cursor: default !important;
  }
}
